.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("../public/bg.jpg");
  background-attachment: fixed;
  background-size: cover;
  font-family: "Roboto Condensed";
  font-weight:700;
  letter-spacing: -0.05rem;
}

.main {
  min-width:600px;
  padding:5rem 0;
  font-size: 1.1rem;
}

.main h1 {
  letter-spacing: -0.08rem;
  background:lightgray;
  box-shadow: inset -15px 15px 15px rgba(0,0,0,.1), 0px 30px 0px lightgray;
  padding:1rem 4rem 1rem 1rem;
  margin:0;
  text-transform: uppercase;
  display:inline-block;
  z-index:1;
}

.content form {
  display: inline-block;
}

.content {
  background:lightgray;
  padding:2rem 1rem 1rem;
  box-shadow: inset -15px 15px 15px rgba(0,0,0,.1);
  font-size: 1.2rem;
}

.content form {
  display:flex;
  flex-direction: column;
  flex-grow:1;
}

.content label {
  font-size:1.2rem;
  display:flex;
  width:150px;
}

.content input {
  display:inline-block;
  padding:0.5em .7em;
  background: rgba(0,0,0,.1);
  border: none;
  margin:.35rem 0;
  display:flex;
  padding: 0.25rem 0.35rem;
  font-size: 1.2rem;
  font-family: 'Roboto Condensed';
}

.content input:focus, .content input:focus-visible {
  border:none;
  background:white;
  outline:none;
}

.content input[type="submit"], .content button {
  padding:0.35em .7em;
  background:rgba(0,0,0,.5);
  border:none;
  color:white;
  cursor: pointer;
  font-family: 'Roboto Condensed';
  text-transform: uppercase;
  font-size:1.1rem;
  display:inline-flex;
  margin-top:1rem;
}

.content input[type="submit"]:hover, .content button:hover {
  background:rgba(0,0,0,0.7)
}

.inputGroup {
  flex-grow: 1;
  display:flex;
  align-items: center;
}
.content table {
  border-spacing: 0px;
  width:100%;
}
.content table thead {
  text-transform: uppercase;
  color:rgba(0,0,0,0.4)
}

.content table td {
  padding:.25rem .5rem;
  margin:0;
} 

.content table tbody tr:hover td {
  background: rgba(0,0,0,.1)
}
